<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies) VALUES
        <foreach collection="dishes" separator="," item="item">
            (#{item.setmealId},#{item.dishId},#{item.name},#{item.price},#{item.copies})
        </foreach>
    </insert>

    <!--    删除菜品表中的菜品数据-->
    <delete id="deleteBySetmealId">
        delete
        from setmeal_dish
        where setmeal_id=#{setmealId};
    </delete>

    <!-- 根据套餐 ID 查询关联的菜品 -->
    <select id="getBySetmealId" parameterType="Long" resultType="SetmealDish">
        SELECT *
        FROM setmeal_dish
        WHERE setmeal_id = #{setmealId}
    </select>

</mapper>